# ------------------------------------------------------------------------------
# Data files
# ------------------------------------------------------------------------------
ducklake/
parquet/

# ------------------------------------------------------------------------------
# General system / dev noise
# ------------------------------------------------------------------------------
# macOS
.DS_Store

results/performance_plots/*.png
results/performance_results/*.csv
results/query_terms/*.csv