# ------------------------------------------------------------------------------
# Docker / Compose
# ------------------------------------------------------------------------------
# Container state
*.pid
*.seed
*.swp

# Logs from containers
*.log
docker-compose.override.yml

ducklake/
parquet/
# ------------------------------------------------------------------------------
# General system / dev noise
# ------------------------------------------------------------------------------
# macOS
.DS_Store
